@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
body{
    background-color: rgb(238, 238, 238);
}
.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    /* font-family: "Lato", sans-serif; */
    font-family: cursive;
}
.navbar-brand{
    font-family: 'Mouse Memoirs', sans-serif;
}
/* *{
    font-family: "Lato", sans-serif;
} */
.intro{
    font-family: 'Edu VIC WA NT Beginner', cursive;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.grey{
    background-color: rgb(205, 199, 199);
    color: white;
}
.about-card {
    font-size: 1rem;
    display: block;
}
.card-text {
    margin: 0.3rem;
    margin-top: 0.5rem;
}
.owner{
    width: 40%;
    max-height: 70vh;
    display: block;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;    
}
.owner img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.shortintro {
    margin: 2rem 2rem;
    word-wrap: break-word;
    width: 50%;
}
.aboutme-info {
    margin-top:auto;
    display: block;
    width: 100%;
}
.span-title {
    font-size: 0.7rem;
    font-weight: 700;
    /* font-family: cursive; */

    text-transform: uppercase;
    /* font-family: sans-serif; */
    line-height: 1.66;
}
.headings-div{
    /* background-color: #128C7E; */
    font-family: cursive;
    
    border-radius: 10px;
    margin-bottom: 0px;
}
.headings{
    font-size: 2rem;
    color: black;
    font-weight: 500    ;
}
a {
    text-decoration: none;
    color: rgb(74, 74, 209);
}
.span-title+span {
    color: rgb(74, 74, 209);
    font-size: 1rem;
    padding-left: 2rem;
    opacity: 0.8;
}
.blue {
    background-color: rgb(70, 70, 160);

}
.about-btns {
    margin-top: 1rem;
    display: flex;
    font-size: 1rem;

}
.whatsBack{
    background-color: #128C7E;
}
.whatsBack:hover{
    background-color: #0e6f64;
    border: 1px solid black;

}
.my-btn {
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Mouse Memoirs', cursive;
    font-size: 1.2rem;
}
hr {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.form-control{
    border: 1px solid black;
}
.visit{
    display:  block;
    /* background-color: rgb(162, 31, 214); */
    background-color: rgb(17, 179, 125);

    width: 100%;
    border: 1px solid black;
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(9, 76, 53);
    color: white ;
}
.info{
    text-transform: capitalize;
    width: 30rem;
}
/* projects part css */

.card-img-top{
    
  /* ...existing styles */
  object-fit: cover;
  height: max(15rem, 40vh);
}

.proj-title{
    min-height: 50px;
    text-transform: capitalize;
    font-family: cursive;
}
.vert-center{
    margin: auto;
    display: block;
}
.projects{
    display: flex;
    /* margin-top: 2px; */
    background-color: white;
    padding: 2rem 0rem 2rem 0rem;
    border-radius: 20px;
    width: 90%;
    overflow: scroll;
    /* border: 2px solid red; */
    justify-content: center;
    flex-wrap: nowrap;



}


/* contact-us */
.contact{
    font-family: 'Mouse Memoirs', sans-serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-text{
    
    display: block;
    margin: auto;
    height: 90%;
}
#contact-info-text{
    max-width: 70vh;
}
.querybox{
    font-size: 1.5rem;
    width: 45%;
}
@media only screen and (max-width: 800px) {
    .about-btns {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        font-size: 0.7rem;
    }
    .my-btn {
        color: white;
        padding: 1rem 1.5rem;
        border-radius: 20px;
        text-transform: uppercase;
        font-family: 'Mouse Memoirs', cursive;
        font-size: 1.2rem;
    }
    .intro{
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;    
    }
    .grey{
        background-color: rgb(205, 199, 199);
        color: white;
    }
    .about-card {
        display: block;
    }
    .card-text {
        margin: 0.3rem;
        width: 100%;
        margin-top: 0.5rem;
    }
    .owner{
        width: 70%;

        display: block;
        margin: auto;
        overflow: hidden;
        border-radius: 20px;
        
    }
    .querybox{
        width: 100%;
    }
    .owner img{
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        
    
    }
    .shortintro {
        margin: 1rem 1rem;
        /* word-wrap: break-word; */
        width: 100%;
    }
    .span-title+span {
        color: rgb(74, 74, 209);
        font-size: 0.7rem;
        padding-left: 0.5rem;
        opacity: 0.8;
    }
    .contact-text{
    
        display: none;
        margin: auto;
        height: 90%;
    }
  }