.nav-link {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}
/* *{
    font-family: "Lato", sans-serif;
} */
.intro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.grey{
    background-color: rgb(205, 199, 199);
    color: white;
}
.about-card {
    display: block;
}
.card-text {
    margin: 0.3rem;
    margin-top: 0.5rem;
}
.owner{
    width: 40%;
    max-height: 70vh;
    display: block;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;    
}
.owner img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.shortintro {
    margin: 2rem 2rem;
    word-wrap: break-word;
    width: 50%;
}
.aboutme-info {
    margin-top:auto;
    display: block;
    width: 100%;
}
.span-title {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    line-height: 1.66;
}
.headings-div{
    background-color: #128C7E;
    border-radius: 20px;
}
.headings{
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: rgb(74, 74, 209);
}
.span-title+span {
    color: rgb(74, 74, 209);
    font-size: 1rem;
    padding-left: 2rem;
    opacity: 0.8;
}
.blue {
    background-color: rgb(70, 70, 160);

}
.about-btns {
    margin-top: 1rem;
    display: flex;
    font-size: 1rem;

}
.whatsBack{
    background-color: #128C7E;
}
.my-btn {
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    border: none;
}
hr {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.visit{
    display:  block;
    /* background-color: rgb(162, 31, 214); */
    background-color: rgb(17, 179, 125);

    width: 100%;
    border: 1px solid black;
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(9, 76, 53);
    color: white ;
}
.info{
    text-transform: capitalize;
    width: 30rem;
}
/* projects part css */
.card{
    overflow: hidden;
    border-radius: 20px;
}
.card img{
    min-height: 60vh;
    max-height: 100vh;
}
.proj-title{
    min-height: 50px;
}
.vert-center{
    margin: auto;
    display: block;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
    .about-btns {
        margin-top: 1rem;
        display: flex;
        font-size: 0.7rem;
    
    }
    .intro{
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;    
    }
    .grey{
        background-color: rgb(205, 199, 199);
        color: white;
    }
    .about-card {
        display: block;
    }
    .card-text {
        margin: 0.3rem;
        margin-top: 0.5rem;
    }
    .owner{
        width: 100%;

        display: block;
        margin: auto;
        overflow: hidden;
        border-radius: 20px;
        
    }
    
    .owner img{
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        
    
    }
    .shortintro {
        margin: 2rem 2rem;
        /* word-wrap: break-word; */
        width: 100%;
    }
    .span-title+span {
        color: rgb(74, 74, 209);
        font-size: 0.7rem;
        padding-left: 0.5rem;
        opacity: 0.8;
    }
  }