*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* z-index: -22; */
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("https://www.alert-software.com/hubfs/custom_desktop_wallpaper.png");    
    /* z-index: -55; */
    background-attachment: fixed;
}

.container{
    z-index: 226;
    max-width: 80%; 
    /* padding: 34px;  */
    margin: auto;
}

.container h1 {
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 2rem;
}

p{
    font-size: 17px;
    text-align: center;
    font-family: 'Sriracha', cursive;
}

input, textarea{
    
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%; 
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-purple{
    color: white;
    background: purple;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.btn:hover{
    color: rgb(0, 0, 0);
    background: rgb(184, 81, 184);
}


.submitMsg{ 
    color: green;
}
.errorMsg{ 
    /* background-color: white; */
    color: rgb(210, 15, 15);
}