<div class="container-fluid">
  <div class="headings-div text-center">
    <p class="headings ">Contact Us.</p>
  </div>
</div>
<div class="container">
  <div class="contact">
    <div class="contact-text">
      <div class="contact-title">
        <h1>Get In touch.</h1>
        <p id="contact-info-text" class="h3">
          We ensure we answer your Questions within 24hours.
        </p>
      </div>
     </div>
    <div class="querybox">
      <form action="/query">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address*</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="Query">Query*</label>
          <textarea type="text" class="form-control" id="Query" placeholder="Write Your Query..."></textarea>
        </div>
        <button type="submit" class="btn visit mt-3">Submit</button>
      </form>
    </div>
   
  </div>
</div>
<script>

</script>